/* Footer styles */
footer {
    background-color: #4d688b;
    padding: 50px;
    text-align: center;
  }
  
  /* Social media icons styles */
  footer .social-media-icons {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  footer .social-media-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer .social-media-icons li:last-child {
    margin-right: 0;
  }
  
  /* Social media icon styles */
  footer .social-media-icons li a {
    color: #555;
    font-size: 20px;
  }
  
  /* Facebook icon */
  footer .social-media-icons li .fa-facebook {
    color: #3b5998;
  }
  
  /* Twitter icon */
  footer .social-media-icons li .fa-twitter {
    color: #1da1f2;
  }
  
  /* Instagram icon */
  footer .social-media-icons li .fa-instagram {
    color: #c13584;
  }
  